extends templates/template.pug 

append config
    -pageTitle = 'contáctanos'
    -description = 'Descripcion de la pagina Contactos'
    -currentPage = 'contacto'

block main
    <iframe height = "500" allowtransparency = "true" frameborder = "0" srolling = "no" style="width:100%;border:none" src="https://mateord93.wufoo.com/embed/zjk8k4168dz41/">
        <a href="https://mateord93.wufoo.com/forms/zjk8k4168dz41/">
            Fill out my Wufoo form!
        </a>
    </iframe>                        
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1nmnc7z0yqSz4e6KhlL9FcyQp1IU5qtz6" width="100%" height="250"></iframe>
    
                        
                                              

