extends templates/template.pug

append config
    -siguenos = false 

block main
    h1 Bienvenidos 
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque excepturi explicabo quod asperiores similique a distinctio impedit dolor quasi atque omnis, facilis vero. Sint aut, modi animi vitae assumenda voluptatem!

block footer
    p Creativos ABC - Todos los derechos reservados.
    include blocks/siguenos.pug

