extends templates/template.pug

append config
    -pageTitle = 'servicios'
    -description = 'Descripcion de la pagina Servicios'
    -currentPage = 'servicios'

block main
    h1 Bienvenidos 
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque excepturi explicabo quod asperiores similique a distinctio impedit dolor quasi atque omnis, facilis vero. Sint aut, modi animi vitae assumenda voluptatem!

block footer
    p Creativos ABC - Todos los derechos reservados.