.siguenos
    a(href="http://facebook.com").icon-facebook-square Siguenos en Facebook 
    a(href="http://facebookinstagram.com").icon-twitter-square Siguenos en Instagram 
    a(href="http://youtube.com").icon-youtube-play Siguenos en Youtube
    a(href="http://instagram.com").icon-instagram Siguenos en Instagram

